.continer{
   position: relative;
   width: 100%;
}

span{
    cursor: pointer;
}

/* Start Header */

.header {

    margin-bottom: 120px;
}

.header ul{
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  padding-right: 0;
  
}

.header ul li{

    float: left;
    padding: 8px;
    padding-top: 5px;
    font-family:verdana;
    font-size: 15px;

}

.header ul .special-format-header{
 
    float: right;
    padding: 8px;
    padding-top: 5px;
    font-family:verdana;
    font-size: 15px;
  
}

.header ul .image{
 
    float: right;
    padding: 8px;
    padding-top: 0;
    margin-top: 0;

}

/* End Header */


/* Start Contact */

.contact {

    overflow: hidden;
}


.contact .contact-image{

    margin-bottom: 10px;
}

.contact .search-input{

    padding: 0 px;
    border-color:#FFFFFF;
    margin-bottom: 30px;

}

.search-input input{
    width: 580px;
    height :40px;
    border-style: solid;
    border-top-width: 0.9px;
    border-right-width: 0.9px;
    border-left-width: 0.9px;
    border-radius: 3px;
    border-bottom-color: #E2E1E1;
    border-bottom-width: 2.4px;
    border-top-color: #E4E4E4;
    border-right-color: #E4E4E4;
    border-left-color: #E4E4E4;
}

.contact input[type="submit"] {
   color: #6A6969;
    border: 0;
    width: auto;
    padding: 13px 7px;
    margin-right: 3px;
    margin-bottom: 50px;
    background-color: #F1F1F1;
    margin-bottom: 160px;
    


}

/* End Contact */


/* Start Footer */

.footer {

    background-color:#F1F1F1;
    color:#6A6969;
    padding: 1px 0px;
    margin-bottom:0px;
    position: absolute;
    width: 99%;
    bottom: 0;

}

.footer ul{

    
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    padding-right: 0;
    font-family:verdana;
    font-size: 13px;

}

.footer ul li {

    float: left;
    padding: 8px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0px;

}

.footer ul .special-format-footer{

    float: right;
}


/* End Footer */


